<!DOCTYPE html>
<html lang="ro">

<head>
  <title>Pagehaven - </title>
  <meta name="description" content="Descarcă cărți PDF gratuit în română și engleză pe 
      Pagehaven. Romance, Fantasy, Thriller — sute de titluri gratuite te așteaptă!">
  <meta name="keywords" content="descarca carti PDF gratuit, carti online gratuite PDF, 
      carti PDF romance, carti PDF fantasy, carti PDF thriller, carti in romana PDF, 
      carti in engleza PDF,  Colleen Hoover, Sarah J. Maas, Alex Michaelides, 
      biblioteca digitala gratuita">

  <%- include('../fragmente/head.ejs') %>
</head>

<body>
  <%- include('../fragmente/header.ejs') %>
  <%- include('../fragmente/footer.ejs') %>
</body>

</html>