:root {
    --visited-link-color: var(--shadow);
    --gradient-color: 
    --main-link-color: #661d8a;
    --content-http-link-color: #9146a1;
    --circle-hover-color: #bad4f2;

}

a {
    text-decoration: none;
    cursor: pointer;
}

header a,
footer a {
    color: inherit;
}

main a {
    color: var(--main-link-color);
    font-weight: bold;
}

.gutenberg-link a:visited {
    color: var(--visited-link-color) !important;
}

main a[href^="http"]::before {
    content: "\2BB3 ";
    font-size: 150%;
}

a[href^="http"]:hover::before {
    color: var(--content-http-link-color);
    font-weight: bold;
}

#genuri a {
  
transition: background-size 1.5s ease, color 1.5s ease;
  background-image: radial-gradient(circle, var(--circle-hover-color) 0%, var(--circle-hover-color) 40%, transparent 70%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0% 0%;
}

#genuri a:hover {
  background-size: 100% 100%;
  color: var(--main-link-color);
}

#genuri a:active {
  outline: 3px solid var(--text); 
  padding: 2px 5px; 
}

