<header>
  <h1>
    <a href="/" id="logo">
      <img src="/resurse/imagini/sigla.png" alt="Logo Pagehaven - bibliotecă digitală gratuită cărți PDF" />
      <em> Page<span style="color:#78a4b9">haven</span></em>
    </a>
  </h1>

  <input type="checkbox" id="ch-menu" />
  <label id="hamburger" for="ch-menu">
    <div class="hamburger-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </label>


  <nav aria-label="Meniu principal" class="meniu-mobil">
    <ul class="meniu">

      <li>
        <a href="/" class="activ">
          <i class="fa-solid fa-house icon-acasa"></i>
          <span class="text-acasa">Acasă</span>
        </a>
        <ul>
          <li><a href="/#noutati">Noutăți</a></li>
          <li><a href="/#recente">Adăugate recent</a></li>
          <li><a href="/#carti-populare">Cărți populare</a></li>
        </ul>
      </li>

      <li>
        <a href="/carti">
          <i class="fa-solid fa-book-open"></i> Cărți</a>
        <ul>
          <li><a href="/carti?tip=romance">Romance</a></li>
          <li><a href="/carti?tip=fantasy">Fantasy</a></li>
          <li><a href="/carti?tip=thriller">Thriller</a></li>
          <li><a href="/#zona-pdf">Zona PDF</a></li>
        </ul>
      </li>

      <li>
        <a href="/echipa">
          <i class="fa-solid fa-user-group"></i> Despre noi</a>
        <ul>
          <li><a href="/echipa">Echipa</a></li>
          <li><a href="/#faq">Întrebări frecvente</a></li>
          <li><a href="/#video">Recenzii video</a></li>
        </ul>
      </li>

      <li> 
        <a href="/produse">
          <i class ="fa-solid fa-cake-candles"></i> Produse
        </a>
        <ul> 
          <li><a href="/produse">Toate</a></li>
          <li><a href="/produse?tip=cofetarie">Prajituri</a></li>
          <li><a href="/produse?tip=gelaterie">Torturi</a></li>
          <li><a href="/produse?tip=patiserie">Patiserie</a></li>
        </ul>
      </li>

      <li><a href="/#contact">
          <i class="fa-solid fa-phone"></i> Contact</a>
      </li>
    </ul>

    <div class="butoane-auth">
      <a href="/login" class="btn-login">Intră în cont</a>
      <a href="/register" class="btn-register">Înregistrare</a>
    </div>

  </nav>
</header>