#filtre {
    border: 0.2rem solid transparent;
    border-radius: 0.8rem;
    background: linear-gradient(45deg, var(--bg-card2)) padding-box,
        linear-gradient(135deg, var(--border), var(--primary), var(--color-table1)) border-box;
    box-shadow: 0 0.4rem 1rem var(--BoxShadow);
    padding: 1.5rem;
}

#filtre h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8rem;
    color: var(--text_filter_card);
    border-bottom: 2px solid var(--text_filter_card);
}

.filtru-grup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.filtru-grup label,
.filtru-grup input[type="checkbox"],
.filtru-grup input[type="radio"],
.filtru-grup input[type="range"],
.filtru-grup select {
    cursor: pointer;
}

.filtru-grup label,
.filtru-grup p.fw-bold.mb-2 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text_filter_card);
}

.range-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.range-container input {
    /* gets all the free space */
    flex-grow: 1;
}

#radio-gen {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#butoane-filtre {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    gap: 1.1rem;           
}

.row-butoane {
    display: flex;      
    justify-content: center;
    gap: 0.8rem;
}
